.top_tips{
  position: absolute;
  height: 150px;
  width: 75px;
  top: -30px;
  right: 37.5px;
  background: url(../images/WechatIMG2.png) no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  .num_tip{
    position: absolute;
    left: 11px;
    bottom: 23px;
    height: 16px;
    width: 58px;
    font-size: 14px;
    font-family: '黑体';
    font-weight: 600;
    color: #a57c50;
    text-align: center;
  }
}
.item_container_style{
  height: 270px;
  width: 310px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 25px;
}	
.home_logo{
  background-image: url(../images/1-2.png);
  background-size: 310px 100%;
  background-position: right center;
}
.item_back{
  background-image: url(../images/2-1.png);
  background-size: 100% 100%;
}
.button_style{
      display: block;
      height: 50px;
      width: 100px;
      background-size: 100% 100%;
      position: absolute;
      top: 380px;
      left: 50%;
      margin-left: -55px;
      background-repeat: no-repeat;
}
.start{
      background-image: url(../images/1-4.png);
  }
  .next_item{
    background-image: url(../images/2-2.png);
  }
  .submit_item{
    background-image: url(../images/3-1.png);
  }
  .item_list_container{
    position: absolute;
    height: 165px;
    width: 188px;
    top: 45px;
    left: 80px;
  -webkit-font-smoothing: antialiased;
  }
.item_title{
  font-size: 16px;
  color: #fff;
  line-height: 16px;
}
ul{
  padding: 0 0 0 15px;
}
.item_list{
  font-size: 0;
  margin-top: 10px;
  width: 235px;
  span{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
  }
  .option_style{
    height: 16px;
    width: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
    margin-right: 7px;
    font-size: 12px;
    font-family: 'Arial';
  }
  .has_choosed{
    background-color: #ffd400;
    color: #575757;
    border-color: #ffd400;
  }
  .option_detail{
    width: 175px;
  }
}