.your_scores_container{
    width: 230px;
    height: 215px;
    background: url(../../images/4-2.png) no-repeat;
    background-size: 100% 100%;
    margin: 30px auto 0;
    position: relative;
    .your_scores{
        position: absolute;
        width: 100%;
        text-indent: 75px;
        top: 110px;
        font-size: 32px;
        font-weight: 900;
        -webkit-text-stroke: 2px #412318;
        font-family: 'Microsoft YaHei';
        .score_num{
            font-family: Tahoma,Helvetica,Arial;
            color: #a51d31;
        }
        .fenshu{
            color: #a51d31;
        }
    }
    .result_tip{
        position: absolute;
        top: 160px;
        width: 200px;
        left: 20px;
        color: #3e2415;
        font-size: 15px;
        text-align: center;
    }
}
.share_button{
    width: 140px;
    height: 56px;
    margin: 15px auto 0;
    background: url(../../images/4-3.png) no-repeat 10px 0;
    background-size: 135px 100%;
}
.share_code{
    width: 124px;
    margin: 30px auto 0;
    .share_header{
        color: #664718;
        font-size: 12px;
        font-family: 'Microsoft YaHei';
        width: 165px;
        font-weight: 500;
    }
    .code_img{
        height: 125px;
        width: 125px;
        margin-top: 12px;
    }
}
.share_cover{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background: url(../../images/5-1.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.92;
}
.share_img{
    height: 10.975rem;
    width: 11.95rem;
    position: fixed;
    top: 0.5rem;
    left: 50%;
    margin-left: -5.975rem;
}